html {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.d_none {
  display: none;
}

header {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  width: 2rem;
  height: auto;
  object-fit: cover;
}

.booksContentFrame {
  width: 40rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookIcon {
  width: 4rem;
  height: auto;
}

.priceLikesContainer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.likesButton img {
  width: 1rem;
  height: auto;
}

.authPubGenreContainer {
  width: 1rem;
  display: flex;
  justify-content: flex-start;
}

.infoAboutContainer {
  width: 1rem;
  display: flex;
  justify-content: flex-start;
}

table {
  width: 20rem;
}

.commentsContainer img {
  width: 2rem;
  height: auto;
}
